*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.swp
*.tmp

vendor/

.jekyll-cache

# Ignore everything in bin/blip/ except main.go
# because I often have test config and plan files.
bin/blip/*
!bin/blip/main.go
