// https://ben.balter.com/2014/03/13/pages-anchor-links/

body {
	overflow: visible;
	display: unset;
}

.header-link {
	position: absolute;
	left: -1.0em;
	opacity: 0;
	\-webkit-transition: opacity 0.2s ease-in-out 0.1s;
	\-moz-transition: opacity 0.2s ease-in-out 0.1s;
	\-ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
	text-decoration: none;
	opacity: 1;
}

div pre.highlight {
	line-height: 1em;
}

// Used for http response statuses in the API docs.
.good-response {
  border-radius: 2px;
  padding: 10px;
  background-color: rgba(0, 170, 19, 0.1);
}

// Used for http response statuses in the API docs.
.bad-response {
  border-radius: 2px;
  padding: 10px;
  background-color: rgba(229, 57, 53, 0.1);
}

// Used for logo on homepage.
.logo {
	float: right;
	padding-left: 20px;
}

.main {
	max-width: 1024px;
	margin-left: 25%;
}
.main-content {
	font-size:16px;
	font-family:'Verdana';
}
.side-bar {
	max-width:25%;
}

p.note, div.note {
	border-left: 3px solid blue;
	padding-left: 10px;
	margin-left: 10px;
}

p.warn, div.warn {
	border-left: 3px solid orange;
	padding-left: 10px;
	margin-left: 10px;
	background: #FEE8C1;
}


.help-option {
	margin-left: 3em;
}

.help-option-default {
	margin-left: 3em;
	padding-left: 1em;
	border-left: 3px solid gray;
}

div.floating-toc {
	float: right;
	margin-top: 3em;
	font-size: 14px;
	top: 0;
	li {
		margin-left:5px;
	}
}
div#content {
	overflow: auto;
	h1 {
		margin: 8px 0 8px 0;
	}
}

.table-wrapper {
	width: fit-content;
}

.var-table {
	min-width: 0;
}

.src {
	//text-align: right;
	font-size: 10px;
	//float: left;
	//margin: 0;
	//margin-top: -2em;
}

.config-section-title {
	color: greenyellow;
	text-align: center;
	background: black;
	border-radius: 25px;
}
.dark {
	color: green;
}

.blip-name {
	font-family: 'Open Sans',Helvetica,sans-serif;
	font-size: 35px;
	font-weight: 400;
	color: black;
	margin-bottom: 0px;
	text-align: left;
}
.blip-tagline {
	margin-top: 0px;
	margin-bottom: 1em;
	font-family: 'Open Sans',Helvetica,sans-serif;
	font-style: italic;
	color: darkgray;
	font-weight: 275px;
	font-size: 20px;
	text-align: left;
}

span.ga {
	font-weight: bold;
	color: green;
}

html {scroll-behavior: auto}

.indent {
	margin-left: 2em;
}
